* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: Montserrat;
}
/*body {
	background: url(template.jpg) top center;
	opacity: .6;
}*/
.wrap {
	width:1210px;
	margin: 0 auto;
	text-align: center;
}

/*НАЧАЛО СТИЛЕЙ ДЛЯ БЛОКА-ШАПКИ*/
.header {
	background: url('images/header_bg.jpg') no-repeat top center;
	background-size:auto;
}

p.logo {
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
	color:#fff;
	margin: 21px 0 0 3px;
	float: left;
}

ul.navigation {
	margin-top:32px;
	float: right;
}
ul.navigation::after {
	content: "";
	clear: both;
}

ul.navigation li {
	display: inline-block;
	margin-right:48px;
	list-style: none;
}
ul.navigation li:last-child {
	margin-right: 0;
}

ul.navigation li a {
	font-size:14px;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 8px;
}
ul.navigation li a:hover {
	border-bottom:#fce38a 3px solid;
	color:#fce38a;
}
.info {
	padding-top: 210px;
}
.info>h3 {
	font-family:'Kaushan Script';
	font-size:72px;
	color:#fff;
}
.info h1 {
	margin-top:30px;
	color:#fff;
	font-size: 150px;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
}

.info h1::after {
	content:"";
	display:block;
	width:60px;
	height:3px;
	background-color:#fff;
	margin:53px auto 50px;
}

.info a.button {
	display: inline-block;
	border:3px #fff solid;
	font-size:14px;
	font-weight: 700;
	color:#fff;
	padding:8.5px 27.5px;
	text-decoration: none;
	text-transform: uppercase;
}
ul.menu {
	margin-top:155px;
	text-align: left;
	list-style: none;
	padding-left: 0;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.menu1, .menu2, .menu3, .menu4 {
	width:23.14%;
	text-transform: uppercase;
	font-size:18px;
	position: relative;
	margin-bottom: 28px;
}

span.number {
	font-size:24px;
	font-weight:700;
}

.menu>li>a {
  padding-top: 15px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  border-top: 3px solid #fff;
}
.menu>li>a:before {
  position: absolute;
  top: -3px;
  left: 0;
  content: "";
  width:0%;
  height: 3px;
  background-color: #f38181;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in;
}
.menu>li>a:hover::before {
  width: 25%;
}

/*КОНЕЦ СТИЛЕЙ ДЛЯ ПЕРВОГО БЛОКА*/

.story {
	background-color: #fff;
}

.story_info {
	margin-top: 84px;
	text-align: center;
}
.story_info>p:first-child {
	color: #333;
	font-family: 'Kaushan Script';
	font-size: 24px;
	margin-bottom: 8px;

}

.images {
	margin-bottom:120px;
	text-align: center;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
	position:relative;

}
.images img:hover {
/*.images img:first-child {*/
	position: relative;
	top:-10px;
	left:-10px;
	box-shadow: 10px 10px 0 #95e1d3;
	transition: 0.2s ease-in-out;
}

.numbers {
	background-color:#95e1d3;
}
.stats .wrap {
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
p.block {
	display:inline-block;
	width:19.75%;
	text-align:center;
	border-left:1px solid #fff;
	color:#fff;
	font-family: Montserrat;
	font-size: 14px;
	text-transform: uppercase;
	padding:71px 0 93px 0;
}
p.block:last-child {
	border-right:1px solid #fff;
}
.numbers span {
	color: #fff;
	font-family: Montserrat;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
}
.services {
	background-color:#fff;
	padding:20px 0 150px;
}
.services .intro h1::after {
	margin-bottom: 60px;
}

.row {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.row:not(:last-child)::after {
	content:"";
	display:block;
	width:100%;
	height:1px;
	margin:51px auto 47px;
	background-color: #e5e5e5;
}
.service {
	width:30%;
	text-align:left;
}

.service p {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
}

.service h3 {
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	margin-bottom:11px;

}
.photography {
	background:url(images/photography.png) no-repeat top left;
	padding-left:61px;
}
.webdesign {
	background:url(images/webdesign.png) no-repeat top left;
	padding-left:61px;
}
.creativity {
	background:url(images/creativity.png) no-repeat top left;
	padding-left:61px;
}
.services_line {
	width: 100%;
	height: 2px;
	background-color: #e5e5e5;
	display:block;
	margin:51px 0 49px;

}
.seo {
	background:url(images/seo.png) no-repeat top left;
	padding-left:61px;
}
.csshtml {
	background:url(images/csshtml.png) no-repeat top left;
	padding-left:61px;
}
.digital {
	background:url(images/digital.png) no-repeat top left;
	padding-left:61px;
}

.lake {
	background: url('images/lake.jpg') no-repeat top center;
	background-size:auto;
}
.lake .wrap {
	position:relative;
}
.lake .intro {
	padding-top:20px;
}
.lake .intro h1::after {
	margin-bottom: 43px;
}
img.iphone_big {
	position:relative;
	top:1px;
}
img.iphone_small {
	position:absolute;
	right:235px;
	bottom:-100px;
	z-index:10;
}
.what_we_do {
	background-color: #fff;
}
.what_we_do .intro {
	padding-top: 17px;
}
.what_we_do_description>img {
	float: left;
	margin-bottom: 128px;
}
.what_we_do_main {
	text-align: left;
	margin-left:616px;

}

p.paragraph {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 24px;
	border:2px #f2f2f2 solid;
	padding:21px 55px 28px 20px;
	margin-top:-2px;
	display: none;
}
h3.h3 {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	border:2px #f2f2f2 solid;
	padding:22px 0 22px 60px;
	margin-top:-2px;

}
.toggle:hover {
	cursor: help;
}
.toggle:hover p.paragraph {
	display: block;
	cursor: default;
}
.photography2 h3 {
	background:url(images/photography_bg.png) no-repeat 16px 16px,
				url(images/photography_arrow.png) no-repeat 559px 24px;
}
.creativity2 h3 {
	background:url(images/creativity_bg.png) no-repeat 16px 16px,
				url(images/arrow_down.png) no-repeat 559px 24px;
}
.web h3 {
	background:url(images/webdesign_bg.png) no-repeat 16px 16px,
				url(images/arrow_down.png) no-repeat 559px 24px;
}

.intro>h3 {
	margin-bottom:10px;
	font-family:'Kaushan Script';
	font-size:24px;
	color:#333;
	padding-top: 84px;
}
.intro h1 {
	color:#333;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.intro h1::after {
	content:"";
	display:block;
	width:60px;
	height:3px;
	background-color:#f38181;
	margin:35px auto 0px;
}
.intro>p:nth-child(3) {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	margin:39px 0 87px;
}

.quote {
	height: 290px;
	background-color: #f8f8f8;
	clear: both;
}
.quote>.wrap {
	position: relative;
	padding:70px 0;
	text-align: left;	
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
}
.quote .wrap a:first-child img {
	position: absolute;
	left:2.25%;
	top:45%;
}
.quote .wrap a:nth-child(2) img {
	position: absolute;
	top:45%;
	left:96.5%;
}

blockquote {
	width:80%;
	color: #999;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 36px;
	padding:1px 0 52px 203px;
	background: url(images/blockquote.png) top left no-repeat;
	position: relative;
}
blockquote::after {
	position: absolute;
	top:140px;
	left:180;
	content:"";
	display:block;
	width:60px;
	height:3px;
	background-color:#f38181;
}
blockquote::before {
	content: "Joe Doe";
	position: absolute;
	top:121px;
	left:273px;
	color: #333;
	font-family: 'Kaushan Script';
	font-size: 24px;
	font-weight: bold;
}
.images2 {
	margin-bottom: 0;
}
.team {
	background-color: #fff;
	padding-bottom: 72px;
}
.team_member {
	margin-bottom: 30px;
}
.team_member h1 {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	padding:26px 0 7px;
}

.team_member h3 {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	}
.logotypes {
	background-color: #f8f8f8;
}

.logotypes img {
	margin:50px 10px;

}
.img_block img {
	display: block;
	width: 100%;
	transition: 0.2s ease-in-out;
}
.img_block img:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.work_pics {
	width:100%;
	max-width: 1920px;
	margin:0 auto;
}
.work_pics .img_block {
	width: 25%;
	float: left;
	display: inline-block;
}
blockquote.blockquote2 {
	background: url(images/blockquote2.png) top left no-repeat;
	background-size: contain;
}

.clients {
	background: url(images/mountains.jpg) no-repeat top left;
}
.clients_review {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.clients_review .team_member h1{
	padding-top: 10px;
}
.client_profile {
	display: inline-block;
	text-align: left;
	width: 42%;
	padding-left: 140px;
	margin-top:87px;
}

.client_profile h3::after {
	content:"";
	display:block;
	width:60px;
	height:3px;
	background-color:#f38181;
	margin-bottom: 24px;
	margin-top:17px;	
}
.client_profile p {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
}

.client1 {
	background: url(images/client1.png) no-repeat top left;
}
.client2 {
	background: url(images/client2.png) no-repeat top left;
}
.client3 {
	background: url(images/client3.png) no-repeat top left;
}
.client4 {
	background: url(images/client4.png) no-repeat top left;
}
.client:last-child {
	margin-bottom: 108px;
}

.blog_posts {
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
	margin:47px 0 118px;
}

.post {
	display: inline-block;
	width:31%;
	text-align: left;
	position: relative;
}

.post .date {
	display: block;
	background-color: #95e1d3;
	width: 60px;
	height:70px;
	position: absolute;
	top:160px;
	left:-10px;
	text-align: center
}

.post>.date>p {
	font-family: Montserrat;
	color:#fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 61%;
	text-transform: uppercase;
	margin-top: 18px;
}
.post .date span {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	text-transform: capitalize;
}
.post>h3 {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	margin:20px 0;
}
.post a {
	text-decoration: none;
	color: #333;
}
.post>p {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.post>p::after,
.post>p::before {
	display: block;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	position: absolute;
	top:80px;
}

.post>p::after {
	padding-left: 20px;
	background: url(images/eye.png) no-repeat left center;
}
.post1>p::after {
	content: "542";
}
.post2>p::after {
	content: "992";
}
.post3>p::after {
	content: "1560";
}

.post>p::before {
	left: 69px;
	padding-left: 17px;
	background: url(images/comment.png) no-repeat left center;
}
.post1>p::before {
	content: "17";
}
.post2>p::before {
	content: "42";
}
.post3>p::before {
	content: "98";
}
.map {
	text-align: center;
	position: relative;

}
iframe {
	width:100%;
	max-width:1920px;
	height: 200px;
}
.map>h4 {
	position: absolute;
	top:25%;
	left:45.5%;
	padding-top: 44px;
	color: #f38181;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	background: url(images/map_icon.png) no-repeat top center;
}

.map>h4::after {
	content:"";
	display:block;
	width:60px;
	height:3px;
	background-color:#f38181;
	margin:21px auto 0;
}

.footer {
	background: #f8f8f8;
}

.footer .wrap {
	height:500px;
	padding:74px 0 70px;
	text-align: left;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footer .mogo {
	width:39%;
	display: inline-block;
}
.mogo>h2 {
	color: #ccc;
	font-family: Montserrat;
	font-size: 46px;
	font-weight: 700;
}
.mogo>p:first-of-type {
	color: #999;
	font-family: Roboto;
	font-size: 15px;
	margin:42px 0 49px;
	line-height: 24px;
}
.mogo>p:last-of-type {
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e5e5e5;
}
.mogo span {
	font-size: 18px;
	font-weight: 700;
}
.follow {
	margin-top: 18px;
}
.follow>p {
	display: inline-block;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	margin-right: 24px;
	color: #999;
}
img.social_network {
	display: inline-block;
	margin-right: 16px;
}

form {
	margin-top: 39px;
}
form input {
	width: 230px;
	height:40px;
	color: #ccc;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	border:1px solid #eaeaea;
	padding-left: 13px;
}
form label {
	padding:11px 34px;
	color:#fff;
	text-transform: uppercase;
	background: #95e1d3;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	margin-left:-4px;
}

label a {
	text-decoration: none;
	color:#fff;
}
form label:hover {
	background: orange;
	cursor: pointer;
}

.blog {
	width:27.7%;
	text-align: left;
}
.blog h3,
.instagram h3 {
	color: #333;
	font-family: Montserrat;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.blogpost {
	margin-bottom: 31px;
}
.blogpost h4 {
	color: #333;
	font-family: Montserrat;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 0 24px 140px;
	position: relative;

}
h4.blogpost1  {
	background:url(images/blogpost1.jpg) no-repeat left center;
}
h4.blogpost2 {
	background:url(images/blogpost2.jpg) no-repeat left center;
}
h4.blogpost3 {
	background:url(images/blogpost3.jpg) no-repeat left center;
}
.blogpost h4::after {
	text-transform: capitalize;
	content: "Jan 9, 2016";
	color: #999;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	position: absolute;
	top:73%;
	left:140px;
}
.blogpost a {
	color:#333;
	text-decoration: none;
}

.instagram {
	width: 22%;
}
img.insta {
	margin-bottom: 1px;
	transition: 0.2s ease-in-out;
}
img.insta:hover {
	transform: scale(1.05);
}

.insta_gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}
